/SuperCalculadora/build/
/SuperCalculadora/nbproject/private/
/JogoGenio/nbproject/private/
/JogoGenio/build/
/CaculandoMedia/nbproject/private/
/CaculandoMedia/build/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/CalculadorDelta/nbproject/private/
/CalculadorDelta/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/TiposTriangulo/nbproject/private/
/TiposTriangulo/build/
/CalculadoraFatorial/nbproject/private/
/CalculadoraFatorial/build/
/doWhile/nbproject/private/
/doWhile/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/AplicaçãoFor/nbproject/private/
/AplicaçãoFor/build/
/Contador/nbproject/private/
/Contador/build/
/Contador/dist/
/Vetor01/nbproject/private/
/Vetor01/build/
/Vetor04/nbproject/private/
/Vetor04/build/
/VetoresSwing/nbproject/private/
/VetoresSwing/build/
