/SuperCalculadora/build/
/SuperCalculadora/nbproject/private/
/JogoGenio/nbproject/private/
/JogoGenio/build/
/CaculandoMedia/nbproject/private/
/CaculandoMedia/build/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/CalculadorDelta/nbproject/private/
/CalculadorDelta/build/
